<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/Controller/Register.css"> <!--Linking styling sheet to Register.css-->

<body>
  <div class="container">
    <label>Username: </label>
    <input type="text" id="username" name="username"><br><br>

    <label>Email:</label>
    <input type="text" id="email" name="email"><br><br>

    <label>Enter Password:</label>
    <input type="text" id="password" name="password"><br><br>

    <label>Confirm Password:</label>
    <input type="text" id="confirmpassword" name="confirmpassword"><br><br>

    <input type="submit" value="submit" name="submit">
  </div>
</body>

</html>